# Análise

## IBOV

In [1]:
import pandas as pd

In [2]:
ibov = pd.read_csv(r"C:\Users\Jairo\OneDrive\Área de Trabalho 1\Aulas Gams\Projeto FINAL\IBOV.csv", encoding='latin1', sep=';')
ibov['Valor'] = ibov['Valor'].str.replace('.', '')  # Remove o ponto
ibov['Valor'] = ibov['Valor'].str.replace(',', '.')  # Substitui a vírgula por ponto
ibov['Valor'] = ibov['Valor'].astype(float) # Transformando object em float
ibov['Rentabilidade'] = ibov['Valor'].pct_change() # Criando coluna rentabilidade
ibov.sort_values(by=['Ano', 'Mês'], inplace=True) # Ordenando por ano
ibov = ibov[ibov['Ano'] != 2017] # Tirando o ano de 2017

ibov = ibov.reset_index(drop= True)

In [3]:
ibov

    Mês   Ano      Valor  Rentabilidade
0     1  2018   84912.70       0.111393
1     2  2018   85353.60       0.005192
2     3  2018   85365.56       0.000140
3     4  2018   86115.50       0.008785
4     5  2018   76753.61      -0.108713
..  ...   ...        ...            ...
67    8  2023  115741.81      -0.050853
68    9  2023  116565.17       0.007114
69   10  2023  113143.67      -0.029353
70   11  2023  127331.12       0.125393
71   12  2023  134185.24       0.053829

[72 rows x 4 columns]

In [4]:
ibov = ibov.drop(labels=['Valor'], axis=1)

In [5]:
ibov = ibov.rename(columns={'Rentabilidade': 'Rent_IBOV'})

In [6]:
ibov["Dia"]=1
ibov = ibov[["Ano","Mês","Dia","Rent_IBOV"]]

In [7]:
ibov['Data'] = pd.to_datetime(ibov[['Ano', 'Mês', 'Dia']].astype(str).agg('-'.join, axis=1))

In [8]:
ibov

     Ano  Mês  Dia  Rent_IBOV       Data
0   2018    1    1   0.111393 2018-01-01
1   2018    2    1   0.005192 2018-02-01
2   2018    3    1   0.000140 2018-03-01
3   2018    4    1   0.008785 2018-04-01
4   2018    5    1  -0.108713 2018-05-01
..   ...  ...  ...        ...        ...
67  2023    8    1  -0.050853 2023-08-01
68  2023    9    1   0.007114 2023-09-01
69  2023   10    1  -0.029353 2023-10-01
70  2023   11    1   0.125393 2023-11-01
71  2023   12    1   0.053829 2023-12-01

[72 rows x 5 columns]

In [9]:
ibov = ibov.set_index("Data")

In [10]:
ibov = ibov.drop(columns=["Ano", "Mês", "Dia"])
ibov = ibov.sort_index()

In [11]:
ibov

            Rent_IBOV
Data
2018-01-01   0.111393
2018-02-01   0.005192
2018-03-01   0.000140
2018-04-01   0.008785
2018-05-01  -0.108713
...               ...
2023-08-01  -0.050853
2023-09-01   0.007114
2023-10-01  -0.029353
2023-11-01   0.125393
2023-12-01   0.053829

[72 rows x 1 columns]

In [19]:
ibov["Rent_IBOV"].mean()

0.01032189077441422

## Bitcoin

In [21]:
btc = pd.read_csv(r"C:\Users\Jairo\OneDrive\Área de Trabalho 1\Aulas Gams\Projeto FINAL\Bitcoin.csv")

In [22]:
btc['Data'] = pd.to_datetime(btc['Data'], format='%d.%m.%Y') # Transformando a coluna Data
btc.sort_values(by='Data', inplace=True) # Ordenando por data

In [23]:
btc['Último'] = btc['Último'].str.replace('.', '', regex=False)
btc['Último'] = btc['Último'].str.replace(',', '.', regex=False)
btc['Último'] = btc['Último'].astype(float)
btc['Rentabilidade'] = btc['Último'].pct_change()

In [24]:
btc = btc.drop(['Var%', 'Vol.','Abertura','Máxima','Mínima'], axis=1)
btc = btc[btc['Data'].dt.year != 2017]
btc= btc.reset_index(drop= True)

In [25]:
btc = btc.drop(labels=["Último"], axis=1)   
btc = btc.rename(columns={'Rentabilidade': 'Rent_BTC'})

In [40]:
btc

            Rent_BTC
Data
2018-01-01 -0.258837
2018-02-01  0.006673
2018-03-01 -0.328598
2018-04-01  0.332493
2018-05-01 -0.188478
...              ...
2023-08-01 -0.112721
2023-09-01  0.039534
2023-10-01  0.285131
2023-11-01  0.088377
2023-12-01  0.120903

[72 rows x 1 columns]

In [38]:
btc = btc.set_index("Data")

In [39]:
btc["Rent_BTC"].mean()

0.03692859539744764

## CDI

In [68]:
cdi = pd.read_excel(r"C:\Users\Jairo\OneDrive\Área de Trabalho 1\Aulas Gams\Projeto FINAL\CDI.xlsx")

In [69]:
cdi.sort_values(by=['Ano', 'Mês'], inplace=True)
cdi = cdi.reset_index(drop= True)

In [70]:
cdi = cdi.rename(columns={'Rentabilidade': 'Rent_CDI'})

In [78]:
cdi

            Rent_CDI
Data
2018-01-01  0.005834
2018-02-01  0.004649
2018-03-01  0.005316
2018-04-01  0.005175
2018-05-01  0.005175
...              ...
2023-08-01  0.011375
2023-09-01  0.009729
2023-10-01  0.009976
2023-11-01  0.009160
2023-12-01  0.008945

[72 rows x 1 columns]

In [72]:
cdi["Dia"]=1
cdi = cdi[["Ano","Mês","Dia","Rent_CDI"]]

In [73]:
cdi['Data'] = pd.to_datetime(cdi[['Ano', 'Mês', 'Dia']].astype(str).agg('-'.join, axis=1))

C:\Users\Jairo\AppData\Local\Temp\ipykernel_16224\27643401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdi['Data'] = pd.to_datetime(cdi[['Ano', 'Mês', 'Dia']].astype(str).agg('-'.join, axis=1))

In [74]:
cdi = cdi.drop(columns=["Ano", "Mês", "Dia"])
cdi = cdi.set_index("Data")
cdi = cdi.sort_index()

In [77]:
cdi["Rent_CDI"].mean()

0.005995111111111112

## Estatísticas para Matriz de Covariância e Retorno esperado de cada ativo i

In [84]:
df = pd.merge(btc, cdi, left_index=True, right_index=True, how='inner')
df = pd.merge(df, ibov, left_index=True, right_index=True, how='inner')

In [85]:
df

            Rent_BTC  Rent_CDI  Rent_IBOV
Data
2018-01-01 -0.258837  0.005834   0.111393
2018-02-01  0.006673  0.004649   0.005192
2018-03-01 -0.328598  0.005316   0.000140
2018-04-01  0.332493  0.005175   0.008785
2018-05-01 -0.188478  0.005175  -0.108713
...              ...       ...        ...
2023-08-01 -0.112721  0.011375  -0.050853
2023-09-01  0.039534  0.009729   0.007114
2023-10-01  0.285131  0.009976  -0.029353
2023-11-01  0.088377  0.009160   0.125393
2023-12-01  0.120903  0.008945   0.053829

[72 rows x 3 columns]

In [87]:
df.describe()

        Rent_BTC   Rent_CDI  Rent_IBOV
count  72.000000  72.000000  72.000000
mean    0.036929   0.005995   0.010322
std     0.212237   0.003215   0.068724
min    -0.373247   0.001345  -0.299043
25%    -0.087109   0.003699  -0.029136
50%    -0.008761   0.005175   0.008844
75%     0.173681   0.009181   0.055889
max     0.608461   0.011747   0.159026

In [89]:
Covariance =  pd.DataFrame({
    'CDI': cdi['Rent_CDI'],
    'IBOV': ibov['Rent_IBOV'],
    'BTC': btc['Rent_BTC']})
Covariance.cov()

           CDI      IBOV       BTC
CDI   0.000010 -0.000001 -0.000123
IBOV -0.000001  0.004723  0.003611
BTC  -0.000123  0.003611  0.045045